{{- $pluginType := .Values.auditPlugin.type | default "k8saudit" }}
{{- $isWebhook := eq $pluginType "k8saudit" }}
{{- $isEks := eq $pluginType "k8saudit-eks" }}
{{- $isGke := eq $pluginType "k8saudit-gke" }}
{{- $isAks := eq $pluginType "k8saudit-aks" }}
{{- $isEnabled := or $isWebhook $isEks $isGke $isAks }}
{{- $pluginVersion := .Values.auditPlugin.version | default "0.16" }}
{{- $rulesVersion := .Values.auditPlugin.rulesVersion | default "0.16" }}
{{- if $isEnabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sib-k8s.fullname" . }}-k8saudit-falcoctl
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sib-k8s.labels" . | nindent 4 }}
    app.kubernetes.io/component: k8saudit
data:
  falcoctl.yaml: |
    artifact:
      allowedTypes:
        - rulesfile
        - plugin
      install:
        pluginsDir: /plugins
        rulesfilesDir: /rulesfiles
        refs:
          {{- if $isWebhook }}
          # Generic k8saudit plugin
          - k8saudit-rules:{{ $rulesVersion }}
          - k8saudit:{{ $pluginVersion }}
          {{- else if $isEks }}
          # AWS EKS plugin
          - k8saudit-rules:{{ $rulesVersion }}
          - k8saudit-eks:{{ $pluginVersion }}
          {{- else if $isGke }}
          # Google GKE plugin
          - k8saudit-rules:{{ $rulesVersion }}
          - k8saudit-gke:{{ $pluginVersion }}
          {{- else if $isAks }}
          # Azure AKS plugin
          - k8saudit-rules:{{ $rulesVersion }}
          - k8saudit-aks:{{ $pluginVersion }}
          {{- end }}
          - json:0.7
        resolveDeps: true
    indexes:
      - name: falcosecurity
        url: https://falcosecurity.github.io/falcoctl/index.yaml
{{- end }}
